examples/espidf-ex/build
examples/espidf-ex/sdkconfig
examples/espidf-ex/sdkconfig.old
examples/espidf-ex/test/build
examples/espidf-ex/test/sdkconfig
examples/espidf-ex/test/sdkconfig.old

examples/atmega328pb-ex/.vs
examples/atmega328pb-ex/atmega328pb-ex/Debug
examples/atmega328pb-ex/atmega328pb-ex/Release
examples/atmega328pb-ex/atmega328pb-ex/doxygen

examples/.metadata
examples/stm32L4R5ZI/.settings
examples/stm32L4R5ZI/Release
examples/stm32L4R5ZI/Debug
examples/stm32L4R5ZI/Drivers

examples/avr128da48.X/.generated_files
examples/avr128da48.X/dist
examples/avr128da48.X/debug
examples/avr128da48.X/release
examples/avr128da48.X/build
examples/avr128da48.X/mcc_generated_files